# 1. Please view the data and refere to specific information

- `conda install -c anaconda pandas`
- `conda install -c anaconda numpy`
- `conda install -c anaconda scikit-learn`

In [3]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_iris
# load the famous iris data
irisRaw = load_iris()
 
#Convert data to Panda package
# read iris.data into a pandas DataFrame (df), including column names
iris = pd.DataFrame(data= np.c_[irisRaw['data'], irisRaw['target']],
                     columns= irisRaw['feature_names'] + ['target'])

# 2. Display the number of rows and columns.

In [5]:
len(iris.columns)

5

In [6]:
iris.shape

(150, 5)

# 3. View basic information for individual columns. Use the 'describe' and 'groupby' methods

In [7]:
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [8]:
iris.describe() # Caolculating mean of petal lenght

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [9]:
iris.groupby(by=['sepal length (cm)']).mean() 
# Takes all the values, groups them, and calculates the mean from all rows in which a specified raw is equal to a given value

,sepal width (cm),petal length (cm),petal width (cm),target
sepal length (cm),,,,
4.3,3.000000,1.100000,0.100000,0.000000
4.4,3.033333,1.333333,0.200000,0.000000
4.5,2.300000,1.300000,0.300000,0.000000
4.6,3.325000,1.325000,0.225000,0.000000
4.7,3.200000,1.450000,0.200000,0.000000
4.8,3.180000,1.580000,0.200000,0.000000
4.9,2.950000,2.266667,0.550000,0.500000
5.0,3.120000,1.840000,0.430000,0.200000
5.1,3.477778,1.722222,0.400000,0.111111
5.2,3.425000,2.075000,0.475000,0.250000
5.3,3.700000,1.500000,0.200000,0.000000
5.4,3.550000,2.033333,0.516667,0.166667
5.5,2.842857,3.228571,0.900000,0.714286
5.6,2.816667,4.200000,1.416667,1.166667
5.7,3.100000,3.587500,1.100000,0.875000
5.8,2.885714,4.071429,1.400000,1.285714
5.9,3.066667,4.700000,1.700000,1.333333
6.0,2.733333,4.650000,1.500000,1.333333
6.1,2.850000,4.750000,1.416667,1.333333
6.2,2.825000,4.750000,1.725000,1.500000
6.3,2.855556,5.133333,1.811111,1.666667
6.4,2.957143,5.157143,1.871429,1.714286
6.5,3.000000,5.240000,1.900000,1.800000
6.6,2.950000,4.500000,1.350000,1.000000
6.7,3.050000,5.262500,1.962500,1.625000
6.8,3.000000,5.400000,1.933333,1.666667
6.9,3.125000,5.275000,2.050000,1.750000
7.0,3.200000,4.700000,1.400000,1.000000
7.1,3.000000,5.900000,2.100000,2.000000
7.2,3.266667,5.966667,1.966667,2.000000
7.3,2.900000,6.300000,1.800000,2.000000
7.4,2.800000,6.100000,1.900000,2.000000
7.6,3.000000,6.600000,2.100000,2.000000
7.7,3.050000,6.600000,2.200000,2.000000
7.9,3.800000,6.400000,2.000000,2.000000

# 4. Using the 'head' method please display the first 5 rows

In [10]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

# 5. Using “dropna” check if the database contains missing data

### The .dropna() method removes rows or columns, in which the data is missing. If, after perfmoring this operation , the dimentions of the origin dataframe ramins the same, that means, that it does not contain any missing values.

In [11]:
iris.shape

(150, 5)

In [12]:
iris.dropna(how='all').shape

(150, 5)

In [13]:
iris.dropna().shape

(150, 5)

- Conclusion - the dataframe does not contain any 'nan' values.

# 6. Sorting the dataset according to specific criteria is another important part of the pandas package. 
### In order to sort by rows or columns, use the *sort_values* method, which returns a new, sorted object. Sort the data in ascending order relative to the second column. (Sorting by index Panda- sort_index())

In [14]:
# Ascending sort:
iris.sort_values(by = 'sepal width (cm)', ascending=True)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
60,5.0,2.0,3.5,1.0,1.0
62,6.0,2.2,4.0,1.0,1.0
119,6.0,2.2,5.0,1.5,2.0
68,6.2,2.2,4.5,1.5,1.0
41,4.5,2.3,1.3,0.3,0.0
...,...,...,...,...,...
16,5.4,3.9,1.3,0.4,0.0
14,5.8,4.0,1.2,0.2,0.0
32,5.2,4.1,1.5,0.1,0.0
33,5.5,4.2,1.4,0.2,0.0
15,5.7,4.4,1.5,0.4,0.0

In [15]:
iris.sort_values(by = 'sepal width (cm)', ascending=True).sort_index()

#Applying a sort by index again gives back the same dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

# 7. Find the minimum and maximum petal length (column 3 - petal length). Give the index of each of these values.

In [16]:
iris['petal length (cm)'].max() # ordinary way of finding max

6.9

In [17]:
iris.sort_values(by = 'petal length (cm)', ascending=True)['petal length (cm)']
# This operation creates a series object.

22     1.0
13     1.1
14     1.2
35     1.2
36     1.3
      ...
131    6.4
105    6.6
117    6.7
122    6.7
118    6.9
Name: petal length (cm), Length: 150, dtype: float64

In [18]:
iris_petal_len = iris.sort_values(by = 'petal length (cm)', ascending=True)['petal length (cm)']

In [19]:
# Finding maximum indexies:

arr_max_indexies = []
for i in range(iris_petal_len.size):
    if (max(iris_petal_len.values) == iris_petal_len.values[i]):
        arr_max_indexies.append(iris_petal_len.index[i])

arr_max_indexies

# Not very elegant, but it works. In any case.

[118]

In [20]:
# Finding minimum indexies:

arr_min_indexies = []
for i in range(iris_petal_len.size):
    if (min(iris_petal_len.values) == iris_petal_len.values[i]):
        arr_min_indexies.append(iris_petal_len.index[i])

arr_min_indexies

# Not very elegant, but it works. In any case.

[22]

# 8. Calculate the standard deviation for each column

In [21]:
iris.describe() # Caolculating mean of petal lenght

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [22]:
iris.describe().loc['std', :] # Taking the standard deviation using loc, from describe method.

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
target               0.819232
Name: std, dtype: float64

# 9. Identify rows for which the length of the flower cup (sepal length) is greater than the average length (the whole set)

In [23]:
iris_sepal_len = iris.sort_values(by = 'sepal length (cm)', ascending=True)['sepal length (cm)']

In [24]:
arr_greater_than_mean_indexies = []
for i in range(iris_sepal_len.size):
    if (iris_sepal_len.mean() < iris_sepal_len.values[i]):
        arr_greater_than_mean_indexies.append(iris_sepal_len.index[i])

arr_greater_than_mean_indexies

[149,
 61,
 70,
 78,
 83,
 138,
 85,
 62,
 119,
 127,
 134,
 71,
 63,
 73,
 91,
 68,
 97,
 148,
 126,
 72,
 123,
 146,
 56,
 133,
 100,
 87,
 136,
 103,
 132,
 128,
 137,
 51,
 115,
 74,
 111,
 104,
 116,
 147,
 54,
 110,
 58,
 75,
 86,
 140,
 108,
 77,
 65,
 144,
 145,
 124,
 143,
 76,
 112,
 139,
 141,
 52,
 120,
 50,
 102,
 129,
 125,
 109,
 107,
 130,
 105,
 122,
 118,
 117,
 135,
 131]